/* Whole Page */
:root {
    --p-color: #172850;
    --s-color: #223153;
    --t-color: #82a5f5;
    --f-color: #02194e;
    --b-color: #1d2044;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title {
    font-size: 48px;
    color: var(--f-color);
    padding-bottom: 10px;
    border-right: 2px solid;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 50%;
  }
  
  .primary-border {
    border-right: 3px solid var(--t-color);
    height: 200px;
  }
  
  .secondary-border {
    border-color: 3px solid var(--t-color);
    width: 300px;
  }

body {
    color: var(--s-color);
    background-color: rgb(234, 239, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* "Header" Styles */
header {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed; 
    padding: 20px 35px;
    background-color: var(--b-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
 font-weight: bold;
 font-family: copperplate;
 font-size: 40px;
 color: var(--t-color);
 margin: 0;
 text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
header h1 a {
    color: var(--t-color);
}
header a {
    text-decoration: none;
    color: var(--t-color);
}
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
header nav ul li a:hover {
  background: var(--p-color);
  color: var(--t-color);
  border-radius: 10px;
  text-shadow: none;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header ul li a img {
    height: 35px;
    width: 35px;
    margin: 10px;
    background-color: var(--t-color);
    border-radius: 40px;
}

/* "Hero" Styles */
.hero {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 400px;
}
.hero-subtitle {
    margin: 20px;

}
.hero-subtitle h2 {
    font-size: 34px;
    width: 100%;
    color: var(--t-color);
}

/* "About Me" and "Project" Styles */
.grid-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
.grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.grid-item {
    padding: 35px 0;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
.grid-item.about-head {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
.grid-item.project-head {
    grid-column: 1 / span 3;
    grid-row: 3 / span 5;
}
.grid-item.resume-head {
    grid-column: 1 / span 3;
    grid-row: 8 / span 2;
}
.grid-item.contact-head {
    grid-column: 1 / span 3;
    grid-row: 10 / span 5;
}
.grid-item.about {
    grid-column: 4 / span 5;
    grid-row: 1 / span 2;
}
.grid-item.resume {
    grid-column: 4 / span 5;
    grid-row: 8 / span 2;
}
.grid-item.contact {
    grid-column: 4 / span 5;
    grid-row: 10 / span 5;
}
.project-grid-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    grid-column: 4 /span 5;
    grid-row: 3 / span 5;
}
.project-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
}
.p-grid-item.projects {
    border: 2px solid var(--b-color);
}
.p-grid-item.projects:nth-child(2n) {
    grid-column: span 5;
    grid-row: span 4;
  }
  .p-grid-item.projects:nth-child(oddn) {
    grid-column: span 3;
    grid-row: span 3;
  }